<html ng-app="app">
<head>
<link href="node_modules/jasmine-core/lib/jasmine-core/jasmine.css" rel="stylesheet" />
<!--<script src="node_modules/jasmine-core/lib/jasmine-core/jasmine-html.js"></script>
<script src="node_modules/jasmine-core/lib/jasmine-core/boot.js"></script>-->
<script src="node_modules/angular/angular.js"></script>
</head>
<body>
<div ng-controller="myCtrl as c">
    <div ng-hide = true>
        Priciple<input type=text ng-model=c.prin>
        Rate<input type=text ng-model=c.rate>
        Time<input type=text ng-model=c.time>
        <button ng-click="c.calculate();">Result</button>
        <br>Interest<span ng-bind="c.interest"></span><br>
        Total Amount<span ng-bind="c.amount"></span>
    </div>
    <div>
        <button ng-click="c.getData()">Add row</button>
    </div>
    <div>
        <my-dir data = "c.data"></my-dir>
    </div>
</div>
<script src="controller/myCtrl.js"></script>
<script src="service/myService.js"></script>
<script src="directive/myDir.js"></script>
</body>
</html>